{% extends 'base.html.twig' %}

{% block title %}Répondre à la question{% endblock %}

{% block body %}

    <h1>Ajouter une question</h1>
    {{ form_start(form) }}
    {{ form_row(form.content) }}
    {{ form_row(form.username) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}
